@model IEnumerable<ITM_College.Areas.Identity.Data.Course>

@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Course</h1>

<p>
    <a asp-action="AddCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                <a asp-action="EditCourse" asp-route-id="@item.CourseID">Edit</a> |
                    <a asp-action="DetailsCourse" asp-route-id="@item.CourseID">Details</a> |
                    <a asp-action="DeleteCourse" asp-route-id="@item.CourseID"
                       onclick="return confirm('Are you sure you want to delete this course?')">
                       Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
