@model IEnumerable<ITM_College.Areas.Identity.Data.Department>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Dapartments</h1>


<section class="section">
    <div class="row">
        <p class="p-3">
            <a asp-action="AddDepartment">Create New</a>
        </p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Registered Students</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.HOD)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.ContactEmail)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.ContactPhone)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HOD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactPhone)
                                    </td>
                                    <td>
                                        <a asp-action="EditDepartment" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <form asp-action="DeleteDepartment" asp-route-id="@item.Id" method="post" style="display:inline;"
                                              onsubmit="return confirm('Are you sure you want to delete this department?');">
                                             <button type="submit" class="btn btn-danger">Delete</button>
                                          </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
