@model IEnumerable<ITM_College.Areas.Identity.Data.Faculty>

@{
    ViewData["Title"] = "Faculty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Faculty</h1>

<p>
    <a asp-action="AddFaculty">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacultyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                    <a asp-action="EditFaculty" asp-route-id="@item.FacultyId">Edit</a> |
                    <a asp-action="DetailsFaculty" asp-route-id="@item.FacultyId">Details</a> |
                    <a asp-action="DeleteFaculty" asp-route-id="@item.FacultyId"
                       onclick="return confirm('Are you sure you want to delete this Faculty?')">
                       Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
