@model IEnumerable<ITM_College.Areas.Identity.Data.Faculty>
<section class="grey page-title">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-left">
				<h1>Single Course Page</h1>
			</div>
			<div class="col-md-6 text-right">
				<div class="bread">
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Courses</a></li>
						<li class="active">Single Course Page</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="white section">
	<div class="container">
		<div class="row">
			@foreach (var faculty in Model)
			{
				<div id="course-left-sidebar" class="col-md-4">
					<div class="course-image-widget">
						<img src="upload/xcourse_01.png.pagespeed.ic.XTOvCuUmZu.png" alt="" class="img-responsive">
					</div>
					<div class="course-meta">
						@* <p class="course-category">Department : @faculty.Department.DepartmentName</p> *@

						<hr>
						<p class="course-time">Perriod : 12 Month </p>
						<hr>
						<p class="course-time">Degrees :@faculty.Qualification </p>
						<hr>
						<p class="course-prize">Prizes : <i class="fa fa-trophy"></i> <i class="fa fa-certificate"></i> <i class="fa fa-shield"></i></p>
						<hr>
						<p class="course-forum">Destination : @faculty.Designation</p>
					</div>
				</div>
				<div id="course-content" class="col-md-8">
					<p>@TempData["msg"]</p>

				
						<div class="course-table mb-5">
						<h4>@faculty.FacultyName</h4>
						<div class="course-description">
							<h3 class="course-title">Learning Quality Graphic Design & Mockup and Business Card</h3>
							<p>
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered
								alteration in some form, by injected humour, or randomised words which don't look even slightly
								believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
								embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
								predefined chunks as necessary, making this the first true generator on the Internet.
							</p>
						</div>
						<div>
							<ul>
								<li>@faculty.Email</li>
								<li>@faculty.Phone</li>
							</ul>
						</div>
					</div>
				
				</div>
			}
		</div>
		<hr>
				
	</div>
</section>